.git
.github
!.github/
!.github/scripts/
!.github/scripts/install-bd-archive.sh
!.github/scripts/install-claude-native.sh
!.github/scripts/install-dolt-archive.sh
.claude
docs
test
*.md
!contrib/**
coverage.txt
